<link rel="stylesheet" href="{{ 'page-account.css' | asset_url }}">
{% unless settings.breadcrumb_styles == 'none' %}{% render 'breadcrumb' %}{% endunless %}

<div class="container">
  <div class="page-account">
    <div class="row">

      <div class="col-lg-3 col-md-4 col-sm-12">
        {% render 'account-detail' %}
      </div>

      <div id="col-main" class="col-lg-9 col-md-8 col-sm-12">
        <div id="customer_orders">

          <h5>{{'customer.orders.order_history' | t }}</h5>

          {% if customer.orders.size != 0 %}
          <div class="table-wrapper">
            {% capture order_output %}
              {% for order in customer.orders %}
                {
                  "id": {{order.order_number | json }}
                  ,"id_order": {{order.order_number | prepend: '#' | link_to: order.customer_url | json }}
                  ,"create_at": {{ order.created_at | date: "%m/%d/%Y %H:%M:%S" | json }}
                  ,"time": {{ order.created_at | date: "%m/%d/%Y, %H:%M:%S" | json }}
                  ,"financial_status": {{ order.financial_status | json }}
                  ,"fulfillment_status": {{ order.fulfillment_status | json }}
                  ,"total_price": {{ order.total_price | money | json }}
                  ,"cancelled": {{ order.cancelled | json }}
                }{% unless forloop.last %},{% endunless %}
              {% endfor %}
            {% endcapture %}
            <div class="order-json hide">
              {{ order_output | strip_newlines | prepend: '[' | append: ']' }}
            </div>


            <table class="order-table">
              <tbody>
                <tr>
                  <td colspan="2">
                    <input type="checkbox" name="cb_ic" id="ic_dc" class="hide">
                    <span>Sort by:</span>

                    <select name="filter_orders" id="f-orders">
                      <option value="id">ID</option>
                      <option value="date">Date</option>
                      <option value="pay_st">Payment status</option>
                      <option value="fulfill">Fulfillment Status</option>
                      <option value="price">Total</option>
                    </select>

                    <select id="sort_ic_dc">
                      <option value="1">Ascending</option>
                      <option value="0" selected="selected">Decreasing</option>
                    </select>
                  </td>
                  <td colspan="3">
                    <label for="date">Filter by date:</label>
                    <input type="date" name="date" id="fa_date" onkeydown="return false"> to <input type="date" name="date" id="fb_date" value="" dateformat="M d y" onkeydown="return false">
                  </td>
                </tr>
              </tbody>
            </table>

            <div id="orders-res"></div>
          </div>
          {% else %}
            <div class="alert alert-success">
              <button type="button" class="close" title="{{'customer.general.close' | t }}" data-dismiss="alert">×</button>
              <p>{{'customer.orders.none' | t }}</p>
            </div>
          {% endif %}

        </div>
      </div>

    </div>
  </div>
</div>
<style>
  .order-table tr td:last-child, .order-table tr th:last-child,.gs-table tr td:last-child, .gs-table tr th:last-child{
    text-align: right;
  }
</style>
{% if customer.orders.size != 0 %}
  <script>
    Date.prototype.getUTCTime = function () {
      return this.getTime() - (this.getTimezoneOffset() * 60000);
    };

    function filter_sortByDate(arr){
      var n_orderSelect = arr,
          startDate = new Date($('#fa_date').val()),
          endDate = new Date($('#fb_date').val());

      if ($('#fa_date').val().length > 0 && $('#fb_date').val().length > 0) {
        n_orderSelect = this.filter(arr, function(obj){
          let date = new Date(obj.create_at);
          return (date.getUTCTime() >= startDate.getUTCTime() && date.getUTCTime() <= (endDate.getUTCTime() + 3600000*24));
        });
      }
      return n_orderSelect;
    }

    function filter_handle(arr) {
      var n_orderSelect = arr
          ,f_order = $('#f-orders').val()
          ,A,B;

      switch(f_order) {
        case "id":
          n_orderSelect = n_orderSelect.sort(function(obj1, obj2) {
            A = obj1.id,B = obj2.id;
            if ($('#sort_ic_dc').val() == '0') {return B - A;}else{return A - B;}
          });
          break;

        case "date":
          n_orderSelect = n_orderSelect.sort(function(obj1, obj2) {
            A = new Date(obj1.time).getTime(),
            B = new Date(obj2.time).getTime();
            if ($('#sort_ic_dc').val() == '0') {return B - A;}else{return A - B;}
          });
        break;

        case "price":
          n_orderSelect = n_orderSelect.sort(function(obj1, obj2) {
            A = Number(obj1.total_price.toString().replace(/[^\d\.\,\s]+/g,'').replace(',','').trim()),
            B = Number(obj2.total_price.toString().replace(/[^\d\.\,\s]+/g,'').replace(',','').trim());
            if ($('#sort_ic_dc').val() == '0') {return B - A;}else{return A - B;}
          });
          break;

        case 'pay_st':
          n_orderSelect = n_orderSelect.sort(function(obj1, obj2) {
            A = obj1.financial_status.toLowerCase();
            B = obj2.financial_status.toLowerCase();

            if ($('#sort_ic_dc').val() == '0') {
              return A>B ?-1:A< B? 1 :0;
            }
            else{
              return A<B ?-1:A> B? 1 :0;
            }
          })

        break;

        default:
          n_orderSelect = n_orderSelect.sort(function(obj1, obj2) {
            A = obj1.fulfillment_status.toLowerCase();
            B = obj2.fulfillment_status.toLowerCase();

            if ($('#sort_ic_dc').val() == '0') {
              return A>B ?-1:A< B? 1 :0;
            }
            else{
              return A<B ?-1:A> B? 1 :0;
            }
          })
      }
      filter_output(filter_sortByDate(n_orderSelect));
    }

    function filter_output(arr) {
       $('#fa_date').attr('max',$('#fb_date').val());
       $('#fb_date').attr('min',$('#fa_date').val());
       var order_title = {
        'id_order':'{{'customer.orders.order_number' | t }}',
        'time':'{{'customer.orders.date' | t }}',
        'financial_status':'{{'customer.orders.payment_status' | t }}',
        'fulfillment_status': '{{'customer.orders.fulfillment_status' | t }}',
        'total_price':'{{'customer.orders.total' | t }}'
      }
      $('#orders-res').html('');
      $('#orders-res').tableSortable({
        data: arr,
        columns: order_title,
        sorting: false,
        pagination: 6,
        showPaginationLabel: false,
        prevText: 'Prev',
        nextText: 'Next',
      })
      {% if settings.currency_type == '2' %}Currency.convertAll('{{ settings.default_currency }}', Currency.currentCurrency);{% endif %}
    }

    jQuery(document).ready(function($) {
      var json_order = $('.page-account').find('.order-json').html()
      ,o_orderSelect = JSON.parse(json_order);

      var date = new Date()
          ,d = date.getDate()
          ,m = date.getMonth() + 1
          ,y = date.getFullYear()
          ,py = date.getFullYear() - 1
          ,pday = '' + py + '-' + (m<=9 ? '0' + m : m) + '-' + (d <= 9 ? '0' + d : d)
          ,today = '' + y + '-' + (m<=9 ? '0' + m : m) + '-' + (d <= 9 ? '0' + d : d);
      $('#fa_date').val(pday);
      $('#fb_date').val(today);
      filter_output(o_orderSelect);
      $(document).on('change','#sort_ic_dc, #f-orders, #fa_date, #fb_date',function(){filter_handle(o_orderSelect)});

    });
  </script>
{% endif %}