<script src="{{ 'jquery.ba-dotimeout.min.js' | asset_url }}"></script>
{% if settings.enable_rtl %}
   <link rel="stylesheet" href="{{ 'collection-template-rtl.min.css' | asset_url }}">
   <link rel="stylesheet" href="{{ 'product-card-rtl.css' | asset_url }}">
 {% else %}
   <link rel="stylesheet" href="{{ 'collection-template.min.css' | asset_url }}">
   <link rel="stylesheet" href="{{ 'product-card.css' | asset_url }}">
 {% endif %}

{% assign _lazyload = settings.use_lazyload %}
{% assign _layout = section.settings.collection_layout %}
{% unless settings.breadcrumb_styles == 'none' %}{% render 'breadcrumb' %}{% endunless %}
{% assign i_fil = 0 %}
{% capture _all_tags %}
{% for tag in collection.all_tags %}{% capture _tag %}{{ tag | strip | downcase | prepend: '+++' | append: '+++' }}{% endcapture %}{{_tag}}{% endfor %}
{% endcapture %}

{% assign _catalog_sb_placement = section.settings.catalog_sb_placement %}
{% assign _filter_pos = section.settings.filter_pos %}

{% assign _sb_class = 'col-lg-3' %}
{% assign _main_class = 'col-lg-9 col-12' %}

{% if _catalog_sb_placement == 'none' and _filter_pos != 'none' %}
  {% assign _filter_pos = 'body_filter' %}
{% endif %}

{% if _filter_pos == 'body_filter' %}
  {% assign _filters_style = section.settings.body_filter_style %}
{% else %}
  {% assign _filters_style = section.settings.sidebar_filter_style %}
{% endif %}

{% assign _filter_logic = section.settings.and_logic %}

<div class="page-cata{% if _layout == 'full' %} layout-full{% endif %} filter-sidebar-{{_catalog_sb_placement}}"data-logic="{{ _filter_logic }}" data-mode-view="{{section.settings.show_col_gl}}" data-section-type="collectionPage" data-section-id="{{section.id}}">
  {% if _layout == 'boxed' %}<div class="container">{% endif %}
    <div class="top-banner"
         data-owl-md="1" 
         data-owl-xs="1"
         data-nav="false"
         data-dot="false"
         data-padding-md="20"
         data-padding-xs="10"
         data-autoplay="true">
      {% for block in section.blocks %}
        {% if block.type == 'top_banner' %}
          {% assign image = block.settings.image_banner %}
          {% assign link = block.settings.link %}

          {% unless image == blank %}            
            <div class="top-banner-items" style="position:relative;">
              <a href="{{link}}"{% if _lazyload %} style="display:block; position:relative;padding-top:{% unless image == blank %}{{ 1 | divided_by: image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};"{% endif %}>
                {% render 'image-style' , image : image ,  _lazyload: _lazyload , image_size: '1170x', image_lazy_class: 'img-lazy' %}
              </a>
            </div>
          {% endunless %}

        {% endif %}
      {% endfor %}      
    </div>

    <div class="row">
      {% if _catalog_sb_placement == 'left' %}{% render 'sidebar-catalog', _section: section , filter_pos : _filter_pos , collection: collection , filters_style : _filters_style , section : section , block : block , i_fil:i_fil ,_all_tags:_all_tags , _sb_class : _sb_class%}{% endif %}

      {% paginate collection.products by section.settings.item_per_page %}

        <div class="{% if _catalog_sb_placement == 'none' %}col-12{% else %}{{ _main_class }}{% endif %}">

         {% if section.settings.col_des_position == 'top' and collection.description != blank %}
            <div class="cata-description">{{ collection.description }}</div>
         {% endif %}
         
            {% render 'cata-toolbar' %}

            {% if _filter_pos == 'body_filter' %}
             
            {% endif %}

            <div id="col-main">
              {% if collection.products.size > 0 %}
                <div class="cata-product cp-grid{% if _catalog_sb_placement == 'none' %} no-sidebar{% endif %}">

                  {% for product in collection.products %}
                    <div class="mode-view-item products-grid-item number-{{section.settings.number_product_per_row}} loading">
                      {% render 'product-item' , product : product %}
                    </div>
                  {% endfor %}
                </div>
              {% else %}
                <p>{{ 'collections.general.no_product' | t }}</p>
              {% endif %}
            </div>


          {% if paginate.next %}            
            <div class="loading_img" style="display:none;"><i class="demo-icon icon-spinner"></i></div>
            <div class="load_more"><a href="{{ paginate.next.url }}" class="btn btn-1 btn-load-more">{{'collections.general.load_more' | t }}</a></div>
          {% endif %}

          {% if section.settings.col_des_position == 'bottom' and collection.description != blank %}
            <div class="cata-description">{{ collection.description }}</div>
          {% endif %}
        </div>

      {% endpaginate %}

      {% if _catalog_sb_placement == 'right' %}{% render 'sidebar-catalog', _section: section , filter_pos : _filter_pos , collection: collection , filters_style : _filters_style , section : section , block : block , i_fil:i_fil ,_all_tags:_all_tags , _sb_class : _sb_class%}{% endif %}

    </div>

  {% if _layout == 'boxed' %}</div>{% endif %}
</div>

<script type="text/javascript">

  var pInfScrLoading = false;
  var pInfScrMore = true;

  function pInfScrExecute() {
    pInfScrNode = jQuery('.load_more').last();
    pInfScrURL = jQuery('.load_more a').attr("href");

    if(!pInfScrLoading && pInfScrNode.length > 0 && pInfScrMore) {
      jQuery.ajax({
        type: 'GET',
        url: pInfScrURL,
        beforeSend: function() {
          pInfScrLoading = true;
          jQuery('.load_more').fadeOut();
          jQuery('.loading_img').fadeIn();
        },
        success: function(data) {
          var filteredData = $(data).find(".mode-view-item");

          jQuery(".cata-product").append(filteredData);
          AT_Main.handleGridList();
         {% if settings.currency_type == '2' %}
            Currency.convertAll('{{ settings.default_currency }}', Currency.currentCurrency);
         {% endif %}
          jQuery('.loading_img').fadeOut();
          pInfScrLoading = false;
          AT_Main.init_CountDown();

          if(jQuery(data).find(".load_more a").length){
            jQuery('.load_more a').last().attr("href", jQuery(data).find(".load_more a").last().attr("href"));
            jQuery('.load_more').fadeIn();
          }
          else{
            pInfScrMore = false;
            jQuery('.load_more').hide();
          }
        },
        dataType: "html"
      });
    }
  }

  jQuery(document).on('click','.btn-load-more',function(e){
    e.preventDefault();      
    pInfScrExecute();
  })

</script>

{% schema %}
{
   "name":"Collection infinite pages",
   "settings":[
      {
         "type":"image_picker",
         "id":"breadcrumb_image",
         "label":"Breadcrumb image"
      },
      {
         "type":"select",
         "id":"collection_layout",
         "label":"Section Layout Mode",
         "options":[
            {
               "value":"boxed",
               "label":"Boxed"
            },
            {
               "value":"full",
               "label":"Wide"
            }
         ],
         "default":"boxed"
      },
      {
         "type":"select",
         "id":"col_des_position",
         "label":"Position of the collection description",
         "options":[
            {
               "value":"top",
               "label":"Top"
            },
            {
               "value":"bottom",
               "label":"Bottom"
            },
            {
               "value":"none",
               "label":"None"
            }
         ],
         "default":"top"
      },
      {
         "type":"checkbox",
         "id":"show_col_gl",
         "label":"Enable Mode View",
         "default":true
      },
      {
         "type":"checkbox",
         "id":"show_col_sort_by",
         "label":"Enable Sort by",
         "default":true
      },
      {
         "type":"range",
         "id":"item_per_page",
         "label":"Products per page",
         "min":1,
         "max":50,
         "step":1,
         "default":9
      },

      {
        "type": "range",
        "id": "number_product_per_row",
        "label": "Number of products per row",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 5,
        "info": "Use for Grid view"
      },
      {
         "type":"header",
         "content":"COLLECTION FILTER",
         "info":"To customize Collection Filter content, please click Add content."
      },
      {
         "type":"checkbox",
         "id":"and_logic",
         "label":"Disable 'AND' operator in a group filter",
         "default":true
      },
      {
         "type":"select",
         "id":"sb_filters",
         "label":"Filter type",
         "options":[
            {
               "value":"tags",
               "label":"Filter by Tags"
            },
            {
               "value":"groups",
               "label":"Filter by Groups"
            }
         ],
         "default":"groups"
      },
      {
         "type":"select",
         "id":"filter_pos",
         "label":"Filter Position",
         "info":"When Sidebar placement is None, Filter position must be Body",
         "options":[
            {
               "value":"body_filter",
               "label":"Body"
            },
            {
               "value":"sidebar_filter",
               "label":"Sidebar"
            },
            {
               "value":"none",
               "label":"None"
            }
         ]
      },
      {
         "type":"select",
         "id":"body_filter_style",
         "label":"Body Filter Style",
         "default":"toggle",
         "options":[
            {
               "value":"drawer",
               "label":"Drawer"
            },
            {
               "value":"toggle",
               "label":"Toggle"
            }
         ]
      },
      {
         "type":"select",
         "id":"sidebar_filter_style",
         "label":"Sidebar Filter Style",
         "default":"accordion",
         "options":[
            {
               "value":"full",
               "label":"Full"
            },
            {
               "value":"accordion",
               "label":"Accordion"
            }
         ]
      },
      {
         "type":"header",
         "content":"Sidebar Placement",
         "info":"To customize your sidebar content, please click Add content."
      },
      {
         "type":"select",
         "id":"catalog_sb_placement",
         "label":"Sidebar Placement",
         "default":"none",
         "options":[
            {
               "value":"left",
               "label":"Left"
            },
            {
               "value":"right",
               "label":"Right"
            },
            {
               "value":"none",
               "label":"None"
            }
         ]
      }
   ],
   "blocks":[
      {
         "type":"categories",
         "name":"Sidebar - Categories",
         "settings":[
            {
               "type":"text",
               "id":"sb_categories_title",
               "label":"Heading",
               "default":"Categories"
            },
            {
               "type":"select",
               "id":"sb_categories_type",
               "label":"Content Components",
               "options":[
                  {
                     "value":"categories",
                     "label":"Categories"
                  },
                  {
                     "value":"menu",
                     "label":"Menu"
                  }
               ],
               "default":"categories"
            },
            {
               "type":"link_list",
               "id":"sb_categories_menu",
               "label":"Menu item",
               "info":"Only for Content Component is Menu"
            },
            {
             "type":"text",
             "id":"sb_categories_limit",
             "label":"Total items",
             "info":"Only for Content Component is Categories",
             "default":"5"
           }
         ]
      },
      {
         "type":"banner",
         "name":"Sidebar - Banner",
         "settings":[
            {
               "type":"image_picker",
               "id":"image_banner",
               "label":"Image",
               "info":"The default image size is 270x400 pixels"
            },
            {
               "type":"url",
               "id":"link",
               "label":"Link to"
            }
         ]
      },
      {
         "type":"products-listing",
         "name":"Sidebar - Products",
         "settings":[
            {
               "type":"text",
               "id":"sb_latest_product_title",
               "label":"Heading"
            },
            {
              "type":"select",
              "id":"list_type",
              "label":"Type",
              "default":"row",
              "options":[
              {
                "value":"row",
                "label":"Row"
              },
              {
                "value":"carousel",
                "label":"Carousel"
              }
              ]
            },
            {
               "type":"collection",
               "id":"sb_latest_product_col",
               "label":"Collection"
            },
            {
               "type":"range",
               "id":"sb_latest_product_limit",
               "label":"Total items",
               "default":4,
               "min":1,
               "max":9,
               "step":1
            }
         ]
      },
      {
        "type":"tag",
        "name":"Sidebar - Tags",
        "limit":1,
        "settings":[
          {
            "type":"text",
            "id":"sidebar_tags_title",
            "label":"Text",
            "default":"Popular Tags"
          },
          {
           "type":"range",
           "id":"limit",
           "label":"Limit tags show",
           "min":5,
           "max":20,
           "step":1,
           "default":7
         }
       ]
      },
      {
        "type":"filter_group",
        "name":"Filter group",
        "settings":[
            {
             "type":"range",
             "id":"toggle_width",
             "label":"Filter width",
             "info":"Only for Toggle style",
             "min":1,
             "max":12,
             "unit":"/12",
             "default":3
          },
          {
            "type":"text",
            "id":"filter_prefix",
            "label":"Name"
          },
          {
            "type":"textarea",
            "id":"filter_prefix_prop",
            "label":"Tags",
            "info":"Separate by comma. Eg: Blue, M, L, etc"
          }
        ]
      }
   ]
}
{% endschema %}