{% if settings.enable_rtl %}
  <link rel="stylesheet" href="{{ 'section-blog-v2-rtl.min.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'section-blog-rtl.min.css' | asset_url }}">
{% else %}
  <link rel="stylesheet" href="{{ 'section-blog-v2.min.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'section-blog.min.css' | asset_url }}">
{% endif %}

{% assign _lazyload = settings.use_lazyload %}
{%- assign blog = section.settings.blog -%}
{% assign _layout = section.settings.layout %}
{% assign _limit = section.settings.limited %}
{%- assign _show_video = section.settings.show_video -%}
{%- assign _video_position = section.settings.video_position -%}
{%- assign _cover_image = section.settings.cover_image -%}

{% capture video_layout %}
  <div class="col-lg-6 col-md-12 col-12">
    <div id="video-{{ section.id }}" class="video-wrapper">
      <div id="video-content-{{ section.id }}" class="player mb_YTPlayer" data-property="{videoURL:'{{ _show_video }}',containment:'self',showControls:true,startAt:0,mute:true,autoPlay:false,loop:false,opacity:1,showYTLogo:true, optimizeDisplay:true, coverImage:'{{ _cover_image | img_url: '960x' }}'}"></div>
    </div>
  </div>
{% endcapture %}

{% assign latestBlog = blogs[section.settings.blog].articles %}

{%- assign _text_color = section.settings.text_color -%}
{%- assign _link_hover_color = section.settings.link_hover_color -%}
{%- assign _title_color = section.settings.title_color -%}

<div id="blog-container-02-{{ section.id }}" 
      class="blog-container-02 layout-{{_layout }}{% if section.settings.hide_on_device %} d-none d-md-block{% endif %} video-position-{{ _video_position }}"
      data-section-type="blog-02" 
      data-section-id="{{section.id}}"
      style="background-color: {{section.settings.bg_color}};">

  {% if _layout == 'boxed' %}<div class="container">{% endif %}

    {% unless _show_video == blank %}<div class="row">{% endunless %}

      {% if _show_video != blank and _video_position == 'left' %}
        {{video_layout}}
      {% endif %}

      {% unless blog == blank %}
        {% unless _show_video == blank %}<div class="col-lg-6 col-md-12 col-12">{% endunless %}
          <div class="blog-content">

              {% for article in latestBlog limit: _limit %}

                <div class="blog-item">

                  <div class="post-item-inner">
                    <div class="post-content card-body">
                      <div class="info">
                        <div class="meta-data"><span class="date"><i class="demo-icon icon-time"></i>{{ article.created_at |date: "%b %d, %Y" }}</span></div>
                        <div class="post__titlle-link">
                          <a class="post-title" href="{{article.url}}">{{ article.title }}</a>
                          <a class="link-to-post" href="{{article.url}}" title="{{ 'blogs.article.read_more' | t }}">{{ 'blogs.article.read_more' | t }} <i class="demo-icon icon-right"></i></a>
                        </div>  
                      </div>  
                    </div>
                  </div> 

                </div>

              {% endfor %}

              <style type="text/css">
                #blog-container-02-{{ section.id }} .post-content .date,
                #blog-container-02-{{ section.id }} .post-content .link-to-post {color: {{ _text_color }};}

                #blog-container-02-{{ section.id }} .post-content .link-to-post:hover {color: {{ _link_hover_color }};} 

                #blog-container-02-{{ section.id }} .post-content .post-title {color: {{ _title_color }};}
              </style>
          </div>
        {% unless _show_video == blank %}</div>{% endunless %}    
      {% endunless %}  

      {% if _show_video != blank and _video_position == 'right' %}
        {{video_layout}}
      {% endif %}

      {% unless _show_video == blank %}
        <script type="text/javascript">
          jQuery(document).ready(function(){
            var i_sections = new theme.Sections();

            i_sections.register('blog-02', function(){

              if (jQuery('script').attr('src') && jQuery('script').attr('src').indexOf("https://www.youtube.com/iframe_api") == -1) {
                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
              }

              var myPlayer = jQuery('#video-content-{{ section.id }}').YTPlayer();
            
            })

          })
        </script>
      {% endunless %}  

    {% unless _show_video == blank %}</div>{% endunless %}        

  {% if _layout == 'boxed' %}</div>{% endif %}
</div>

{% schema %}
  {
  "name": "Blog v2",
  "settings": [
    {
      "type":"paragraph",
      "content":"Created by 'Blog v2' section"
    },
    {
       "type":"header",
       "content":"LAYOUT"
    },
    {
      "type":"checkbox",
      "id":"hide_on_device",
      "label":"Visibility: Hide on mobile"
    },
    {
       "type":"select",
       "id":"layout",
       "label":"Section Layout Mode",
       "default":"boxed",
       "options":[
          {
             "value":"boxed",
             "label":"Boxed"
          },
          {
             "value":"full",
             "label":"Wide"
          }
       ]
    },
    {
      "type":"color",
      "id":"bg_color",
      "label":"Background color",
      "default":"#f1f1f1"
    },

    {
      "type":"color",
      "id":"text_color",
      "label":"Text color",
      "default":"#f1f1f1"
    },
    {
      "type":"color",
      "id":"link_hover_color",
      "label":"Link hover color",
      "default":"#f1f1f1"
    },
    {
      "type":"color",
      "id":"title_color",
      "label":"Title color",
      "default":"#f1f1f1"
    },

    {
       "type":"header",
       "content":"LAYOUT CONTENT"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog item"
    },

    {
       "type":"range",
       "id":"limited",
       "label":"Limited items",
       "default":3,
       "min":1,
       "max":6,
       "step":1
    },
    
    {
      "type":"text",
      "id":"show_video",
      "label":"Video link",
      "info":"Blank to hide"
    },
    {
      "type":"select",
      "id":"video_position",
      "label":"Video position",
      "options":[
        {"value":"left","label":"Left"},
        {"value":"right","label":"Right"}
      ]
    },
    {
      "type":"image_picker",
      "id":"cover_image",
      "label":"Cover image"
    }

  ],
  "presets": [{
    "name": "Blog v2",
    "category": "Blog"
  }]
}
{% endschema %}
