{% if collection.all_tags.size > 0 and _filter_pos != 'none' %} 
  {% assign file_extension = 'png' %}
  {% assign i_fil = i_fil | plus: 1 %}
  {% assign _prefix_filter = block.settings.filter_prefix | strip | downcase %}
  {% assign _arr_prop = block.settings.filter_prefix_prop | split: ',' %}

  {% unless _prefix_filter == blank %}
    {% capture ci %}{{ _prefix_filter }}{% endcapture %}
    <div class="sbw-filter {{ _filters_style }}{% if _filters_style == 'toggle' or _filters_style == 'select' %} width-col-{{block.settings.toggle_width}}{% endif %}">
      <div class="grid-uniform" data-prefix="{{_prefix_filter}}">

        <div id="filter-{{ i_fil }}" class="sb-filter {{_prefix_filter}}" data-type="{{_prefix_filter}}">
          <div class="sbf-title">
            <span class="h4">{{ _prefix_filter | capitalize }}</span>
            <a id="clear-filter-{{ i_fil }}" class="clear-filter hidden" style="float: right;" href="javascript:void(0);">Clear</a>
          </div>

          <ul class="advanced-filters{% if ci == 'color' %} list-inline afs-color{% endif %}">
            {% for cus_tag in _arr_prop %}
              {% capture af_tag %}{{ cus_tag | strip | downcase | prepend: '+++' | append: '+++' }}{% endcapture %}

              {% assign custom_tag = cus_tag | strip | downcase %}
              {% if _all_tags contains af_tag %}
                {% assign value = custom_tag %}
                {% assign new_val = custom_tag | capitalize %}

                {% capture in_current_tag %}
                {% for tag in current_tags %}{% capture cur_tag %}{{ tag | strip | downcase | prepend: '+++' | append: '+++' }}{% endcapture %}{{cur_tag}}{% endfor %}
                {% endcapture %}

                {% if in_current_tag contains af_tag %}
                  {% for tag in collection.all_tags %} 
                    {% capture t %}{{ tag | strip | downcase }}{% endcapture %}
                    {% if t == custom_tag  %}
                      {% if ci == 'color' %}
                      {% comment %}style="background-color:{{ value | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }});"{% endcomment %}
                        <li class="advanced-filter af-color color-{{ value | handle }} cf-{{ value }} active-filter" data-group="{{ _prefix_filter }}" data-handle="{{ custom_tag | handleize }}">
                          {{ '' | link_to_remove_tag: tag | replace: 'Remove tag ','' }}
                        </li>
                      {% else %}
                        <li class="advanced-filter rt active-filter" data-group="{{ _prefix_filter }}" data-handle="{{ custom_tag | handleize }}">
                          {{ custom_tag | capitalize | link_to_remove_tag: tag | replace: 'Remove tag ','' }}
                        </li>
                      {% endif %}

                    {% endif %}
                  {% endfor %}
                {% else %}

                  {% if ci == 'color' %}
                    <li class="advanced-filter af-color color-{{ value | handle }} cf-{{ value }}" data-group="{{ _prefix_filter }}"
                        >
                      {{ '' | link_to_add_tag: custom_tag | replace: 'Narrow selection to products matching tag ', '' }}
                    </li>

                  {% else %}
                    <li class="advanced-filter rt" data-group="{{ _prefix_filter }}">
                      {{ custom_tag | capitalize | link_to_add_tag: custom_tag | replace: 'Narrow selection to products matching tag ', '' }}
                    </li>

                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endunless %}
{% endif %}