
<div class="header-main">
  <div class="table-row">
    
    <div class="header-logo">
      <a href="/" title="{{ shop.name | escape }}" class="logo-site">
       {% assign _logo_size = section.settings.mobile_logo_max_width | append: 'x' %}
       {% assign _logo_size_2x = section.settings.mobile_logo_max_width | times: 2 | append: 'x' %}
       <img {% if _lazyload %}class="lazyload" data-srcset="{{ section.settings.logo_mobile | img_url: _logo_size }} 1x,{{ section.settings.logo_mobile | img_url: _logo_size_2x }} 2x"{% else %} src="{{ section.settings.logo_mobile | img_url: _logo_size }}"{% endif %} alt="{{ shop.name | escape }}" style="max-width: {{ section.settings.mobile_logo_max_width }}px;" />
      </a>
    </div>
    
    {%- if settings.show_search -%}
    <div class="searchbox mobile-searchbox{% if settings.search_type == 'drawer' %} hide{% endif %}">
        <form id="search-mobile" class="navbar-form search" action="/search" method="get">
          <input type="hidden" name="type" value="{%- if settings.search_option == 'products' -%}product{%- endif -%}"/>
          <input id="bc-product-search-mobile" type="text" name="q" class="form-control" placeholder="{{ 'general.text.search_placeholder' | t }}" autocomplete="off" value=""/>
          <button type="submit" class="search-icon">{% include 'include-list-icons', type: 'icon_type', f: 'search' %}</button>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="demo-icon icon-delete"></i></button>
        </form>
        <div id="result-ajax-search-mobile"><ul class="search-results"></ul></div>
    </div>
    {%- endif -%}

    <div class="header-mobile--bottom-content">
      {% include 'include-list-icons' with type: 'navbar' %}
      {% include 'include-list-icons' with type: 'curr_lang' %}
      {% include 'include-list-icons' with type: 'account' %}
      {% include 'include-list-icons' with type: 'wishlist' %}
      {% include 'include-list-icons' with type: 'compare' %}
      {% include 'include-list-icons' with type: 'cart' %}
    </div>
  </div>
</div>