{% if _title == blank %}
	{% assign _title = section.settings.heading_text %}
{% endif %}

{% if _subtitle == blank %}
	{% assign _subtitle = section.settings.subheading_text %}
{% endif %}

{% if section.settings.heading_content_align == blank %}
	{% assign _title_alignment = 'center' %}
{% else %}
	{% assign _title_alignment = section.settings.heading_content_align %}
{% endif %}

{% if _sh_h_size == blank %}
	{%- assign sh_h_size = settings.section_heading_size 		| prepend: 'h'	-%}
{% else %}
	{%- assign sh_h_size = _sh_h_size 		| prepend: 'h'	-%}
{% endif %}

{% unless _title == blank and _subtitle == blank %}
	{%- assign _sh_s_size = settings.section_subheading_size 	| prepend: 'h'	-%}
	<div class="title-wrapper text-{{_title_alignment}}">
		{% unless _title == blank %}<p class="title {{sh_h_size}}">{{ _title }}</p>{% endunless %}
		{% unless _subtitle == blank %}<p class="subtitle {{_sh_s_size}}">{{ _subtitle }}</p>{% endunless %}
	
		{% unless _expire == blank %}
			<div class="box-countdown">
				<div class="block-countdown countdown-content">
					<div class="wrapper-countdown">
						<div class="popup-countdown countdown_{{ section.id }}"></div>
					</div> 
				</div>
			</div>

			<script type="text/javascript">
				jQuery(document).ready(function($){
					var currentDate = new Date();
					var dueDate = new Date( {{ _dueDate[2] }}, {{ _dueDate[0] | plus:0 }} - 1, {{ _dueDate[1] | plus:0 }} );

					if(currentDate < dueDate){
						$('.countdown_{{ section.id }}').countdown({labels: ['Yrs', 'Mon', 'Week', 'Day', 'Hrs', 'Min', 'Sec'], until: dueDate, format: 'DHMS', padZeroes: true });
					}
					else{
						$('.countdown_{{ section.id }}').parent().hide();
					}
				});
			</script>
		{% endunless %}
	</div>
{% endunless %}