<div class="header-main">
  <div class="table-row">
    <div class="container">
      <div class="header-logo">
        <a href="/" title="{{ shop.name | escape }}" class="logo-site">
         {% assign _logo_size = section.settings.logo_max_width | append: 'x' %}
         {% assign _logo_size_2x = section.settings.logo_max_width | times: 2 | append: 'x' %}
         <img {% if _lazyload %}class="lazyload" data-srcset="{{ section.settings.logo | img_url: _logo_size }} 1x,{{ section.settings.logo | img_url: _logo_size_2x }} 2x"{% else %} src="{{ section.settings.logo | img_url: _logo_size }}"{% endif %} alt="{{ shop.name | escape }}" style="max-width: {{ section.settings.logo_max_width }}px;" />       
       </a>
      </div>

      <div class="header-search">
        {% if settings.show_search %}
          <div class="searchbox">

              <form id="search" class="navbar-form search" action="/search" method="get">
                <input type="hidden" name="type" value="product" />
                <input id="bc-product-search" type="text" name="q" class="form-control" placeholder="{{ 'general.text.search_placeholder' | t }}" autocomplete="off" />
                <button type="submit" class="search-icon"><i class="demo-icon {{ settings.search_font_icon }}"></i></button>
              </form>
        
              <div id="result-ajax-search">
                <ul class="search-results"></ul>
              </div>

          </div>
        {% endif %}
      </div> 

      {% if shop.enabled_currencies.size > 1 or settings.gg_tran %}
        <li class="currency_icon flag-3" data-target="#language-popup" data-toggle="modal"><i></i></li>
      {% endif %}
    </div>  
  </div>


  <div class="header-navigation">
    <div class="container">
      {% unless section.settings.nav_linklist == blank %}
        <div class="horizontal-menu dropdown-fix">
          <div class="sidemenu-holder">

            <nav class="navbar navbar-expand-lg">
              <div class="collapse navbar-collapse">
                <ul class="menu-list">
                  {% for l in linklists[section.settings.nav_linklist ].links %}
                  {% render 'nav-link' %}
                  {% endfor %}
                </ul>
              </div>
            </nav>

          </div>
        </div>
      {% endunless %}

      <div class="header-icons">
        <ul class="list-inline">
          {% if settings.enable_product_wishlist %}
            <li class="wishlist-target">
              {% render 'wl_cp_buttons', type: 'wl_show_btn' %}
            </li>
          {% endif %}

          {% if settings.enable_product_compare %}
            <li class="compare-target">
              {% render 'wl_cp_buttons', type: 'cp_show_btn' %}
            </li>
          {% endif %}

          {% unless settings.catalog_mode %}
            <li class="top-cart-holder{% if settings.cart_styles == 'dropdown' %} hover-dropdown{% endif %}">
              <div class="cart-target">

                {% if settings.cart_styles == 'dropdown' %}
                <a href="javascript:void(0)" class="basket dropdown-toggle" title="{{ 'general.header.cart_info.title' | t }}">
                  {% if settings.cart_icon_type == 'font-icon' %}
                  <i class="demo-icon {{ settings.cart_font_icon }}"></i>
                  {% else %}
                  <img {% if _lazyload %}class="lazyload" data-srcset="{{ settings.cart_icon | img_url: '25x' }} 1x, {{ settings.cart_icon | img_url: '50x' }} 2x" {% else %}src="{{ settings.cart_icon | img_url: '25x' }}" {% endif %} alt="{{ 'general.header.cart_info.title' | t }}" />
                  {% endif %}

                  <span class="number"><span class="n-item">{% if cart.item_count > 0 %}{{ cart.item_count }}{% else %}0{% endif %}</span></span>   
                  
                </a>

                <div class="cart-dd">
                  <div id="cart-info">
                    <div id="cart-content" class="cart-content">
                      <div class="loading"></div>
                    </div>
                  </div>
                </div>

                {% else %}
                <a href="javascript:void(0)" class="basket cart-toggle" title="{{ 'general.header.cart_info.title' | t }}">
                  {% if settings.cart_icon_type == 'font-icon' %}
                  <i class="demo-icon {{ settings.cart_font_icon }}"></i>
                  {% else %}
                  <img {% if _lazyload %}class="lazyload" data-srcset="{{ settings.cart_icon | img_url: '25x' }} 1x, {{ settings.cart_icon | img_url: '50x' }} 2x" {% else %}src="{{ settings.cart_icon | img_url: '25x' }}" {% endif %} alt="{{ 'general.header.cart_info.title' | t }}" />
                  {% endif %}

                  <span class="number"><span class="n-item">{% if cart.item_count > 0 %}{{ cart.item_count }}{% else %}0{% endif %}</span></span>
                  
                </a>

                {% endif %}

              </div>
            </li>
          {% endunless %}

          {% if shop.customer_accounts_enabled %}
            <li class="customer-account">
              <a href="/account" title="{{ 'general.header.my_account' | t }}">
                {% if settings.account_icon_type == 'font-icon' %}
                  <i class="demo-icon {{ settings.account_font_icon }}"></i>
                {% else %}
                  <img {% if lazyload %} class="lazyload" data-srcset="{{ settings.account_icon | img_url: '25x' }} 1x, {{ settings.account_icon | img_url: '50x' }} 2x" {% else %}src="{{ settings.account_icon | img_url: '25x' }}" {% endif %} alt="{{ 'general.header.my_account' | t }}" />
                {% endif %}                
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>   
  </div>
</div>