{%- assign _limited_item = section.settings.limited_item -%}
{%- assign count = 0 -%}

<div class="col-lg-3 col-sm-12 col-12">	
	<div class="vertical-menu dropdown-fix">
		<div class="sidemenu-holder">

		    <div class="navigation">
		      <div class="head opened">{{ 'general.text.shop_by_collection' | t }}</div>

		        <nav class="navbar vertical-navbar opened">
		          <div class="collapse navbar-collapse">
		            <ul class="main-nav">
		            	{%- if _category_type == 'menu' -%}
							{% for l in linklists[_type_menu].links %}
								{%- assign count = count | plus: 1 -%}

				            	{% include 'vertical-nav-link' %}

				            	{%- if forloop.last and count > _limited_item -%}
			        				<li class="view-all"><a href="javascript:;"><i class="demo-icon icon-add"></i>{{ 'general.text.view_all' | t }}</a></li>	
			        			{%- endif -%}
				            {% endfor %}

				        {% elsif _category_type == 'all' %}
				        	{% include 'include-highlight-item' %}

				        	{% for collection in collections %}
				        		{%- assign count = count | plus: 1 -%}

				        		<li{% if _highlight_item and _highlight_vertical_menu contains collection.title %} class="highlight"{% endif %} data-index="{{count}}"{% if count > _limited_item %} data-hide="true" style="display: none;"{% endif %}><a href="{{ collection.url }}">{{ collection.title }}</a></li>		

				        		{%- if forloop.last and count > _limited_item -%}
			        				<li class="view-all"><a href="javascript:;"><i class="demo-icon icon-add"></i>{{ 'general.text.view_all' | t }}</a></li>	
			        			{%- endif -%}	
				        	{% endfor %}	

				        {% elsif _category_type == 'selected' %}	
				        	{% include 'include-highlight-item' %}
				        	
				        	{%- for block in section.blocks -%}
				        		{%- if 	block.type == 'category' -%}
				        			{%- assign count = count | plus: 1 -%}
				        			{%- assign 	_category = collections[block.settings.category] -%}

				        			<li{% if _highlight_item and _highlight_vertical_menu contains _category.title %} class="highlight"{% endif %} data-index="{{count}}"{% if count > _limited_item %} data-hide="true" style="display: none;"{% endif %}><a href="{{ _category.url }}">{{ _category.title }}</a></li>

				        			{%- if forloop.last and count > _limited_item -%}
				        				<li class="view-all"><a href="javascript:;"><i class="demo-icon icon-add"></i>{{ 'general.text.view_all' | t }}</a></li>	
				        			{%- endif -%}	
				        		{%- endif -%}	
				        	{%- endfor -%}
						{%- endif -%}
		            </ul>
		          </div>
		        </nav>

		    </div>

		</div>
	</div>	
</div>		

<script type="text/javascript">
	jQuery(document).ready(function(){
		let el = $('#home-banner-{{ section.id }} .vertical-menu ul.main-nav')
		AT_Main.toggleViewAllVerticalMenu(el);
	})
</script>



	