{% assign countdown     = section.settings.countdown %}
{% assign b_product     = section.settings.bproduct %}
{% assign image_block   = section.settings.image %}
{% assign image_link    = section.settings.link %}
{% assign image_height  = section.settings.image_height %}
{% assign deal_title    = section.settings.b_title %}
{% assign button_text   = section.settings.button_text %}
{% assign _type_column  = section.settings.type %}

{% capture spc_content %}
  {%- unless countdown == blank -%}
    <div class="block-countdown">
      <p class="text-center">{{deal_title}}</p>
      <div class="wrapper-countdown" data-id="{{block.id}}" data-date="{{countdown}}">
        {% unless countdown == blank %}<div class="countdown_{{ block.id }}"></div>{% endunless %}
      </div>
    </div>
  {%- endunless -%}
{% endcapture %}

{%- assign _product_padding = settings.product_padding -%}
{%- assign _shorten_product_title = settings.shorten_product_title -%}

<div class="spc-block spc-type-{{block_type}} image-height-{{image_height}}" {{ block.shopify_attributes }}>
  {% if _type_column == "product" and b_product != blank %}
    <div class="products-grid-item">
      {% assign product = all_products[b_product] %}
      <div class="product-wrapper big-product-item{% if _product_padding %} product-padding{% endif %}{% if _shorten_product_title %} product-title--one-line{% endif %}">
        <div class="product-wrapper-inner">
          <div class="product-head">
            <div class="product-image">

              {% capture number_of_images %}{{ product.images | size }}{% endcapture %}
              {% assign number_images = number_of_images | plus: 0 %}

              <div class="featured-img">
                <a href="{{ product.url | within: collection }}">

                  {% render 'image-style' , image: product.featured_image, image_size: '300x', image_lazy_class: 'featured-image front', _type: 'product', _lazyload: _lazyload %}

                  {% if number_images > 1 %} 
                    <span class="img-back d-none d-lg-block">                 
                      {% render 'image-style' , image: product.images[1], image_size: '300x', _lazyload: _lazyload %}
                    </span>
                  {% endif %}

                  {% render 'product-label' with product: product_b %}
                </a>          
              </div> 

            </div>
          </div>  

          <div class="product-content {{ settings.product_text_alignment }}">
            <div class="pc-inner">

              <h5 class="product-name">
                <a href="{{ product.url | within: collection }}" title="{{ product.title | truncate: 20 }}">{{ product.title }}</a>
              </h5>

              {% if settings.show_product_vendor %}<p class="product-vendor">{{ product.vendor }}</p>{% endif %}

              <div class="product-price-review-wrapper">
                {% render 'product-price' with product: product_b %}
              </div>

              {% if settings.show_product_already_sold %}
                <div class="deal-progress">
                  {% capture stockSold %} {{ product.metafields.c_f.already_sold }} {% endcapture %}
                  {% assign total=0 %}
                  {% for variant in product.variants %}
                    {% assign i = total | plus:variant.inventory_quantity %}
                    {% assign total = i %}
                  {% endfor %}
                      
                  {% if stockSold != blank and total > 0 %}
                      {% capture progress %}{{ stockSold | times:100 | divided_by: total }}{% endcapture %}
                      {% assign progressNumber = progress | plus: 0 %}
                      {% if progressNumber <= 100 %}
                        <div class="progress">
                          <span class="progress-bar" style="width:{{ progress }}%"></span>

                        <span class="stock-sold">{{ 'general.text.text_sold' | t }}: <span>{{ stockSold }}</span></span>
                        </div>
                      {% endif %}
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>  
      </div>
    </div>
    {{spc_content}}


  {% elsif _type_column == "image" and image_block != blank %}
    <div class="image-item">
      <a href="{{image_link}}">
          {% render 'image-style' , image: image_block, image_size: '690x', _lazyload: _lazyload %}
      </a>
      {{spc_content}}
    </div>

  {% else %}
    <div class="image">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
  {% endif %}
</div>