{% unless settings.mailchip_popup_style == 'none' %} 
  <div id="mailchimp-popup" class="{{ settings.mailchip_popup_style }}{% unless settings.mailchip_popup_bg %} no-popup-bg{% endunless %}" style="display:none;" data-expires="{{settings.mailchip_popup_expires}}" data-style="{{ settings.mailchip_popup_style }}"data-delay="{{ settings.mailchip_popup_delay }}">

    {% if settings.mailchip_popup_style == 'delay' %}

      <div class="mailchimp-popup-1">
        <div class="mailchimp-popup-content">
          {% if settings.mailchip_popup_heading != blank %}
          <h3 class="title">{{settings.mailchip_popup_heading}}</h3>
          {% endif %}

          {% if settings.mailchip_popup_content_1 != blank %}
          <div class="mailchimp-caption-1">{{settings.mailchip_popup_content_1}}</div>
          {% endif %}

          <form id="mc-form" action="{{ settings.mailchip_popup_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank" rel="noopener">
            <input id="mc-email" class="input-block-level input-mailchip-popup" type="email" name="EMAIL" placeholder="{{ settings.mailchip_popup_placeholder }}" required />
            <button class="btn btn-mailchimp-popup" type="submit"><i class="demo-icon icon-mail-alt"></i>{{ 'general.text.subscribe_here' | t }}</button>
          </form>
        </div>

        {% if settings.mailchip_popup_bg %}
        <div class="mailchimp-popup-img{% if settings.use_lazyload %} lazyload" data-bgset="{{'mailchip_popup_bg.jpg' | asset_img_url: '1024x'}} 1024w" {% else %}" style="background-image: url({{'mailchip_popup_bg.jpg' | asset_url}});" {% endif %}>
          <img{% if settings.use_lazyload %} class="lazyload" data-{% endif %}src="{{'mailchip_popup_bg.jpg' | asset_url}}" />
        </div>
        {% endif %}
      </div>

    {% else %}
      <div class="underlay"></div>
      <div class="wrap-modal">
        <div class="modal-body">
          <a href="javascript:void(0);"><i class="demo-icon icon-star_close"></i></a>
          <div class="mailchimp-popup-1">
            <div class="mailchimp-popup-content">
              {% if settings.mailchip_popup_heading != blank %}
              <h3 class="title">{{settings.mailchip_popup_heading}}</h3>
              {% endif %}

              {% if settings.mailchip_popup_content_1 != blank %}
              <div class="mailchimp-caption-1">{{settings.mailchip_popup_content_1}}</div>
              {% endif %}

              <form id="mc-form" action="{{ settings.mailchip_popup_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank" rel="noopener">
                <input id="mc-email" class="input-block-level input-mailchip-popup" type="email" name="EMAIL" placeholder="{{ settings.mailchip_popup_placeholder }}" required />
                <button class="btn btn-mailchimp-popup" type="submit"><i class="demo-icon icon-mail-alt"></i>{{ 'general.text.subscribe_here' | t }}</button>
              </form>
            </div>

            {% if settings.mailchip_popup_bg %}
              <div class="mailchimp-popup-img{% if settings.use_lazyload %} lazyload" data-bgset="{{'mailchip_popup_bg.jpg' | asset_img_url: '1024x'}} 1024w" {% else %}" style="background-image: url({{'mailchip_popup_bg.jpg' | asset_url}});" {% endif %}>
                <img{% if settings.use_lazyload %} class="lazyload" data-{% endif %}src="{{'mailchip_popup_bg.jpg' | asset_url}}" />
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}

  </div>
{% endunless %}