
{% assign _product_layout = 'product-game' %}
{% assign _layout = section.settings.product_layout %}
{% assign _lazyload = settings.use_lazyload %}
{% assign image_width = '[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]' %}
{%- assign zoom_type       = section.settings.zoom_type -%}
{% assign meta_shortdes = product.metafields.c_f %}

{% if settings.show_product_breabcrumb %}{% render 'breadcrumb' %}{% endif %}

{% if section.settings.thumbnail_pos == 'bottom' %}
  {% assign _slick_num = '03' %}
{% else %}
  {% assign _slick_num = '06' %}
{% endif %}

{% assign _catalog_sb_placement = section.settings.catalog_sb_placement %}
{% assign _sb_class = 'col-lg-3' %}
{% assign _main_class = 'col-lg-9 col-12' %}

<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="https:{{ product.featured_image.src | product_img_url: 'grande' }}">
  <meta itemprop="sku" content="{{ product.variants.first.sku }}" />
  <meta itemprop="gtin8" content="{{ product.variants.first.barcode }}" />
  <span itemprop="name" class="hide">{{ product.title }}</span>
  <span itemprop="brand" class="hide">{{ product.vendor }}</span>
  
  <div data-section-type="product-page" data-section-id="{{section.id}}"  style="background-color: {{ section.settings.background_color }}">
  <div id="col-main" class="page-product layout-{{ _product_layout }} layout-{{_layout}}">
    <div class="product-video-wrapper">
      <div id="product-video" class="product-video">
        <div class="product-video-inner">

          {% if meta_shortdes.thumb_video != blank %}
            {% assign image = images[meta_shortdes.thumb_video] %}
            {% assign cover_image = image | img_url: '2048x2048' %}
          {% elsif section.settings.background_image != blank %}
            {% assign image = section.settings.background_image %}
            {% assign cover_image = section.settings.background_image | img_url: '2048x2048' %}
          {% else %}
            {% assign cover_image = 'thumb_video.jpg' | asset_img_url: '2048x2048' %}
          {% endif %}

          {% unless meta_shortdes.video_url == blank %}

          <div class="video-main-image">
            <div class="video--wrapper">
              <div id="video--main" class="slider-for-video">
                  <div id="prod-vid">
                    <div id="vidPlayer" class="player"
                    data-property="
                    {videoURL:'{{meta_shortdes.video_url}}',containment:'#vidPlayer',autoPlay:false,startAt:0,loop:true,opacity:1,optimizeDisplay:true,showControls:true,useOnMobile:true,anchor: 'center,center',ratio:'auto',coverImage:'{{ cover_image }}',origin:'{{ shop.url }}{{ product.url }}'}">
                    </div>
                  </div>
              </div>
            </div>
          </div>
        {% else %}

          {% if meta_shortdes.thumb_video != blank %}
            {% assign image = images[meta_shortdes.thumb_video] %}
            <div data-zoom-size="{{ image.src }}">
              {% render 'image-style' , image_lazy_class: 'image-zoom', image_class: 'image-zoom', image_size: '2048x2048' %}
            </div>
          {% elsif section.settings.background_image != blank %}
            {% assign image = section.settings.background_image %}
            <div data-zoom-size="{{ image.src }}">
              {% render 'image-style' , image_lazy_class: 'image-zoom', image_class: 'image-zoom', image_size: '2048x2048' %}
            </div>
          {% else %}
            {{ 'thumb_video.jpg' | asset_img_url: '2048x2048' | img_tag }}
          {% endif %}

        {% endunless %}

        </div>
      </div>
    </div>

    {% if _layout == 'boxed' %}<div class="container">{% endif %}
        <div class="row">
          {% if _catalog_sb_placement == 'left' %}{% render 'sidebar-catalog' %}{% endif %}

          <div class="{% if _catalog_sb_placement == 'none' %}col-12{% else %}{{ _main_class }}{% endif %}">
            <div class="product">
              <div id="product-wrapper-detail" class="product-content-wrapper">

                <div id="product-image" class="product-image{% if product.images.size > 1 %} thumbnail-position-{{section.settings.thumbnail_pos}}{% endif %}">
                  {%- render 'product.detail-image' -%}
                </div>

                {% render 'product.detail-info-game' %}

              </div>
            </div>


            <span itemprop="description" class="hide">{{ product.description | strip_html }}</span>
            {% if section.settings.show_product_tab %}
              {% case section.settings.product_tab_style %}
                {% when '1' %}{% render 'product-toggle' with _style_recommended: "game" %}
                {% when '2' %}{% render 'product-toggle-v2' with _style_recommended: "game" %}
              {% endcase %}
            {% endif %}

            {% if settings.enable_product_review and section.settings.product_tab_review == 'below' %}
              <div class="wrap-review" style="background-color: {{ section.settings.background_color }}">
                <div class="review-item" id="tab_review_tabbed">
                  <div id="tab-review">
                    {% render 'include-reviews' %}
                  </div>
                </div>
              </div>
            {% endif %}
            
          </div>  

          {% if _catalog_sb_placement == 'right' %}{% render 'sidebar-catalog' %}{% endif %}
        </div>  
    {% if _layout == 'boxed' %}</div>{% endif %}
  </div>
  </div>
</div>
{% render 'product.detail-script' %}
