
{% assign _product_layout = 'product-art' %}
{% assign _layout = section.settings.product_layout %}
{% assign _lazyload = settings.use_lazyload %}
{% assign image_width = '[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]' %}
{%- assign zoom_type       = section.settings.zoom_type -%}

{% if settings.show_product_breabcrumb %}{% render 'breadcrumb' , section: section , block: block, _layout: _layout %}{% endif %}

{% if section.settings.thumbnail_pos == 'bottom' %}
  {% assign _slick_num = '03' %}
{% else %}
  {% assign _slick_num = '06' %}
{% endif %}

{% assign _catalog_sb_placement = section.settings.catalog_sb_placement %}
{% assign _sb_class = 'col-lg-3' %}
{% assign _main_class = 'col-lg-9 col-12' %}

<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="https:{{ product.featured_image.src | product_img_url: 'grande' }}">
  <meta itemprop="sku" content="{{ product.variants.first.sku }}" />
  <meta itemprop="gtin8" content="{{ product.variants.first.barcode }}" />
  <span itemprop="name" class="hide">{{ product.title }}</span>
  <span itemprop="brand" class="hide">{{ product.vendor }}</span>
  
  <div data-section-type="product-page" data-section-id="{{section.id}}"  style="background-color: {{ section.settings.background_color }}">
  <div id="col-main" class="page-product layout-{{ _product_layout }} layout-{{_layout}}">
    {% if _layout == 'boxed' %}<div class="container">{% endif %}
        <div class="row">
          {% if _catalog_sb_placement == 'left' %}{% render 'sidebar-catalog' , section: section , block: block , _sb_class: _sb_class %}{% endif %}

          <div class="{% if _catalog_sb_placement == 'none' %}col-12{% else %}{{ _main_class }}{% endif %}">
            <div class="product">
              <div id="product-wrapper-detail" class="product-content-wrapper">

                <div id="product-image" class="product-image{% if product.images.size > 1 %} thumbnail-position-{{section.settings.thumbnail_pos}}{% endif %}">
                  {%- render 'product.detail-image' , zoom_type: zoom_type , section: section , block: block, product: product, _product_layout: _product_layout, _slick_num: _slick_num -%}
                </div>
                  {% render 'product.detail-info-art' %}
              </div>
            </div>
            {% if section.settings.show_product_book_info %}
              {%- render 'product-book-info' , product: product -%}
            {% endif %}

            <span itemprop="description" class="hide">{{ product.description | strip_html }}</span>
            {% if section.settings.show_product_tab %}
              {% case section.settings.product_tab_style %}
                {% when '1' %}{% render 'product-toggle' , section: section , block: block , product: product  %}
                {% when '2' %}{% render 'product-toggle-v2' , section: section , block: block , product: product  %}
              {% endcase %}
            {% endif %}

            <div id="sub-col" >
              {%- render 'product.detail-bottom', product: product -%}
              {% render 'include-recently-viewd', show: section.settings.enable_recently_viewd %}
            </div>
            
          </div>  

          {% if _catalog_sb_placement == 'right' %}{% render 'sidebar-catalog' , section: section , block: block , _sb_class: _sb_class %}{% endif %}
        </div>  
    {% if _layout == 'boxed' %}</div>{% endif %}
  </div>
  </div>
</div>
{% render 'product.detail-script' %}
