<li class="dropdown{% if l.active %} active{% endif %}{% if _highlight_item and _highlight_vertical_menu contains l.title %} highlight{% endif %}" data-index="{{count}}"{% if count > _limited_item %} data-hide="true" style="display: none;"{% endif %}>

    <a href="{{ l.url }}" class="dropdown-link">
      <span>{{ l.title }}</span>

      {% capture _menu_label %}
      {%  if _sale_handles contains l.handle %}{{_sale_menu_html}}{% endif %}
      {%  if _new_handles contains l.handle %}{{_new_menu_html}}{% endif %}
      {%  if _hot_handles contains l.handle %}{{_hot_menu_html}}{% endif %}
      {% endcapture %}
      {% if _menu_label != blank %}<span class="labels-wrapper">{{_menu_label}}</span>{% endif %}
    </a>
    <span class="expand"></span>


  <ul class="dropdown-menu">
  <li class="back-prev-menu"><i class="demo-icon icon-back"></i></li>
    {% for l in linklists[submenu].links %}
      {% include 'nav-sub-link' %}
    {% endfor %}
  </ul>
</li> 